{
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "no-console": 2,
        "no-restricted-syntax": 0,
        "no-plusplus": 0,
        "no-param-reassign": 0,
        "linebreak-style": ["error", "unix"],
        "func-names": ["error", "never"],
        "semi": 2,
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4, {
            "VariableDeclarator": 2,
            "SwitchCase": 1
        }],
        "max-len": ["error", {
            "code": 300
        }],
        "arrow-parens": ["error", "as-needed"],
        "no-unused-expressions": ["error", {
            "allowShortCircuit": true,
            "allowTernary": true
        }],
        "prefer-destructuring": 0
    }
}
